*.py[cod]
*.sw[po]

po/*.po
po/*.mo

MANIFEST
ChangeLog

# Packages
*.egg
*.egg-info
dist
build
sdist
_build
.zanata-cache

main.py

blivet-gui*.tar.gz
blivet-gui*.tar.bz2

doc/_build
doc/blivetgui
doc/tests

*~

.directory

.coverage

pylint-log
tests/pylint/.pylint.d
