[Desktop Entry]
Name=blivet-gui
Exec=/usr/bin/blivet-gui_pkexec
Terminal=false
Type=Application
Categories=GNOME;System;Filesystem;X-Fedora;GTK;
StartupNotify=true