/* Basic rectangle */

box#bg-visualization button {
  background-color: #ff0000;
}

box#bg-visualization button {
  border: 1px solid @theme_text_color;
  border-radius: 6px;
  background-image: none;
  background-color: @theme_bg_color;
}

box#bg-visualization button:checked {
  background-image: none;
  background: @theme_selected_bg_color;
}

/* Parent rectangle */

box#bg-visualization button#bg-parent-rect {
  border-color: @theme_text_color;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid @borders;
  border-radius: 6px 6px 0 0;
}

/* Child rectangle */

box#bg-visualization button#bg-child-rect-inner {
  border-top: none;
  border-left: none;
  border-right: 1px solid @borders;
  border-bottom: 1px solid;
  border-radius: 0;
}

box#bg-visualization button#bg-child-rect-first {
  border-top: none;
  border-left: 1px solid;
  border-right: 1px solid @borders;
  border-bottom: 1px solid;
  border-radius: 0 0 0 6px;
}

box#bg-visualization button#bg-child-rect-last {
  border-top: none;
  border-left: none;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: 0 0 6px 0;
}

box#bg-visualization button#bg-child-rect-single {
  border-top: none;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: 0 0 6px 6px;
}

/* Labels inside box#bg-visualization buttons */

box#bg-visualization button:checked label {
  color: @theme_selected_fg_color;
  text-shadow: none;
}

/* Physical view box#bg-visualization buttons */

box#bg-visualization button#bg-root-device:checked {
  background-color: @theme_bg_color;
  border-color: @theme_fg_color;
}

box#bg-visualization button#bg-child-valid-inner {
  background-color: @theme_bg_color;
  border: 2px solid #FF0000;
  border-radius: 0;
}

box#bg-visualization button#bg-child-valid-first {
  background-color: @theme_bg_color;
  border: 2px solid #FF0000;
  border-radius: 0;
}

box#bg-visualization button#bg-child-valid-last {
  background-color: @theme_bg_color;
  border: 2px solid #FF0000;
  border-radius: 0;
}

box#bg-visualization button#bg-child-invalid-inner {
  background-color: @theme_bg_color;
  background-image: url("../img/line.png");
  background-repeat: space;
  border-top: 2px solid @theme_fg_color;
  border-bottom: 2px solid @theme_fg_color;
  border-left: none;
  border-right: 1px solid @borders;
  border-radius: 0;
}

box#bg-visualization button#bg-child-invalid-first {
  background-color: @theme_bg_color;
  background-image: url("../img/line.png");
  background-repeat: space;
  border-top: 2px solid @theme_fg_color;
  border-bottom: 2px solid @theme_fg_color;
  border-left: 2px solid @theme_fg_color;
  border-right: 1px solid @borders;
  border-radius: 0;
}

box#bg-visualization button#bg-child-invalid-last {
  background-color: @theme_bg_color;
  background-image: url("../img/line.png");
  background-repeat: space;
  border-top: 2px solid @theme_fg_color;
  border-bottom: 2px solid @theme_fg_color;
  border-right: 2px solid @theme_fg_color;
  border-left: none;
  border-radius: 0;
  color: @theme_fg_color;
}

/* PhysicalView - Labels inside rectangles */
box#bg-visualization button#bg-root-device:checked label {
  color: @theme_fg_color;
}

box#bg-visualization button#bg-child-valid-inner:checked label {
  color: @theme_fg_color;
}

box#bg-visualization button#bg-child-valid-first:checked label {
  color: @theme_fg_color;
}

box#bg-visualization button#bg-child-valid-last:checked label {
  color: @theme_fg_color;
}
