Rectangle {
  border: 1px solid @theme_text_color;
  border-radius: 6px;
  background-image: none;
  background-color: @theme_bg_color;
}

Rectangle#parent-rect {
  border-color: @theme_text_color;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid @borders;
  border-radius: 6px 6px 0 0;
}

Rectangle#child-rect-inner {
  border-top: none;
  border-left: none;
  border-right: 1px solid @borders;
  border-bottom: 1px solid;
  border-radius: 0;
}

Rectangle#child-rect-first {
  border-top: none;
  border-left: 1px solid;
  border-right: 1px solid @borders;
  border-bottom: 1px solid;
  border-radius: 0 0 0 6px;
}

Rectangle#child-rect-last {
  border-top: none;
  border-left: none;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: 0 0 6px 0;
}

Rectangle:checked {
  background-image: none;
  background: @theme_selected_bg_color;
}

Rectangle:checked GtkLabel {
  color: @theme_selected_fg_color;
  text-shadow: none;
}
